Housing Analysis

In [1]:
import pandas as pd

Following code is creating a DataFrame using the file 'Housing.csv'

In [2]:
housing = pd.read_csv(r"C:\Users\gerha\OneDrive\Desktop\home_price_prediction\home_price_prediction_backend\data_analysis\Housing.csv", encoding="latin1")
housing.head() # to verify we run this code

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

The following functions will help to find :
average price

In [3]:
def avg_price(df):
    return round(df["price"].sum() / len(df), 2)

def avg_price_by_area(df, area=None):
    if area:  # If specific area is provided
        if area in df["area"].values:
            return round(df[df["area"] == area]["price"].mean(), 2)
        else:
            raise KeyError(f"Area {area} is not in the DataFrame.")
    else:  # If no area is provided, return average price by area
        return df.groupby("area")["price"].mean().round(2)

print(avg_price_by_area(housing, 7420))

12355000.0

furnished dataframe

In [9]:
def is_furnished(df):
    furnished_df = pd.concat([df[df["furnishingstatus"] == "furnished"], df[df["furnishingstatus"] == "semi-furnished"]])
    return furnished_df
    

furnished_df = is_furnished(housing)
furnished_df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN